// Fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:600,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap);
// Files
@import '_nullstyle';
@import '_BEM';
@import '_header';
@import '_main';
@import '_modal';

// Other

div[class*='container']
{
    max-width: 1352px;
    margin: 0 auto;
}
html,body {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #1F2022;
}

